	{% if page.categories[0] != 'info' and page.categories[1] != 'tags' %}
	<div class="content">
		<div class="post-navigation">
			<div class="post-navigation__prev">
			{% if prev.title %}
				<a href="{{ prev.url }}" class="postnav postnav_extended">
					<span class="postnav__text">{% if page.lang == "en" %}Previous{% else %}⟵{% endif %}</span>
					<span class="postnav__link">{{ prev.title }}</span>
				</a>
			{% endif %}
			</div>
			<div class="post-navigation__next">
			{% if next.title %}
				<a href="{{ next.url }}" class="postnav postnav_extended">
					<span class="postnav__text">{% if page.lang == "en" %}Next{% else %}⟶{% endif %}</span>
					<span class="postnav__link">{{ next.title }}</span>
				</a>
			{% endif %}
			</div>
		</div>
	</div>
	{% endif %}