	<header class="header">
		<div class="header-i">
			<div class="logo">Genn.org</div>
		</div>
		<nav class="nav nav_active_{{ page.categories[0] }}" data-component="menu">
			<div class="nav-i">
				<a href="/info" class="nav__item nav__item_info" data-id="info">
					<span class="nav__item__text">Info</span>
				</a>
				<a href="/work" class="nav__item nav__item_work" data-id="work">
					<span class="nav__item__text">Work</span>
					{% if page.categories[0] == 'work' %}<div class="nav__subnav nav__subnav_work postnavs">
						<span class="nav__subnav__item postnav js-prev">Previous</span>
						<span class="nav__subnav__item postnav js-next">Next</span>
					</div>{% endif %}
				</a>
				<a href="/mega" class="nav__item nav__item_mega" data-id="mega">
					{% if page.categories[0] == 'mega' %}<div class="nav__subnav nav__subnav_mega postnavs">
						<span class="nav__subnav__item postnav js-prev">Previous</span>
						<span class="nav__subnav__item postnav js-next">Next</span>
					</div> {% endif %}
					<span class="nav__item__text">Mega</span>
				</a>
			</div>
		</nav>
<!-- WHAT FOR?
		{% if page.categories[0] != 'info' %}
		<div class="nav__subnav nav__subnav_mobile postnavs">
			<div class="l-row">
				<div class="l-half">
					<span class="nav__subnav__item postnav js-prev">Previous</span>
				</div>
				<div class="l-half">
					<span class="nav__subnav__item postnav js-next">Next</span>
				</div>
			</div>
		</div>
		{% endif %}
-->
	</header>