<!-- • {{ prev.title }} • {{ next.title }} -->
	<header class="header">
		<div class="header-i">
			<div class="logo">Genn.org</div>
		</div>
		{% for category in site.categories %}
			{% if category.first == 'mega' %}
				{% assign megaposts = category.last %}
			{% else if category.first == 'work' %}
				{% assign workposts = category.last%}
			{% endif %}
		{% endfor %} 

		{% assign postlink=categoryposts[0].url %}
<!--		•••{{ postlink }}••• -->
		<nav class="nav nav_active_{{ page.categories[0] }}" data-component="menu">
			<div class="nav-i">
				<a href="/info" class="nav__item nav__item_info" data-id="info">
					<span class="nav__item__text">Info</span>
				</a>
				<a href="{{ workposts[0].url }}" class="nav__item nav__item_work" data-id="work">
					<span class="nav__item__text">Work</span>
					{% if page.categories[0] == 'work' %}<div class="nav__subnav nav__subnav_work postnavs">
						{% if prev %}<span class="nav__subnav__item postnav js-prev">Previous</span>{% else %}<span class="nav__subnav__item postnav js-prev"></span>{% endif %}
						{% if next %}<span class="nav__subnav__item postnav js-next">Next</span>{% endif %}
					</div>{% endif %}
				</a>
				<a href="{{ megaposts[0].url }}" class="nav__item nav__item_mega" data-id="mega">
					{% if page.categories[0] == 'mega' and page.categories[1] != 'tags' %}<div class="nav__subnav nav__subnav_mega postnavs">
						{% if prev %}<span class="nav__subnav__item postnav js-prev">{% if page.lang == "en" %}Previous{% else %}⟵{% endif %}</span>{% endif %}
						{% if next %}<span class="nav__subnav__item postnav js-next {% if prev %}{% else %}noprev{% endif %}">{% if page.lang == "en" %}Next{% else %}⟶{% endif %}</span>{% endif %}
					</div> {% endif %}
					<span class="nav__item__text">Mega</span>
				</a>
			</div>
		</nav>
<!-- WHAT FOR? MOBILE? Don't touch it! -->
		{% if page.categories[0] != 'info' and page.categories[1] != 'tags' %}
		<div class="nav__subnav nav__subnav_mobile postnavs">
			<div class="l-row">
				<div class="l-half">
					<span class="nav__subnav__item postnav js-prev">{% if page.lang == "en" %}Previous{% else %}⟵{% endif %}</span>
				</div>
				<div class="l-half">
					<span class="nav__subnav__item postnav js-next">{% if page.lang == "en" %}Next{% else %}⟶{% endif %}</span>
				</div>
			</div>
		</div>
		{% endif %}
<!-- MOBILE END -->
	</header>