	{% if page.categories[1] == 'tags' %}
		{{ content }}
	{% else %}
	<header class="post-header">
		<div class="content">
			<div class="post-header-i">
				<div class="post-header__title{% if page.mainpicture %}{% else %}_no-pic{% endif %}">
					<div class="post-header__title-i">
						{% if page.mainpicture %}
						<img src="{{ site.mega.picurl }}{{ page.slug }}/{{ page.mainpicture }}" alt="">
						{% endif %}
						<div class="post-header__title-i-i">
							<h1 class="post-title">
								<span>{{ page.title }}</span>
							</h1>
							<div class="post-header__comments-count post-comments-count"></div>
						</div>
					</div>
				</div>
				<div class="post-header__meta">
					<div class="post-header__meta-i">
						<div class="post-header__date post-date">{{ page.date | date: "%d&thinsp;/ %m&thinsp;/&thinsp;%Y" | replace_first: "/ 01", "/&thinsp;I"  | replace_first: "/ 02", "/&thinsp;II"  | replace_first: "/ 03", "/&thinsp;III"  | replace_first: "/ 04", "/&thinsp;IV"  | replace_first: "/ 05", "/&thinsp;V"  | replace_first: "/ 06", "/&thinsp;VI"  | replace_first: "/ 07", "/&thinsp;VII"  | replace_first: "/ 08", "/&thinsp;VIII"  | replace_first: "/ 09", "/&thinsp;IX"  | replace_first: "/ 10", "/&thinsp;X"  | replace_first: "/ 11", "/&thinsp;XI"  | replace_first: "/ 12", "/&thinsp;XII" }}</div>
						<div class="post-header__translation post-translation"><a href="/mega{% if page.lang == 'en' %}/ru{% endif %}/{{ page.slug }}/" class="link" lang="{{ page.lang }}">{% if page.lang == 'en' %}По-русски{% else %}In English{% endif %}</a></div>
					</div>
					<ul class="post-header__tags post-tags">
						{% for tag in page.tags %}
						<li class="post-tags__item"><a href="/mega{% if page.lang == 'ru' %}/ru{% endif %}/blah/{{ tag }}/" class="tag link">{{ tag }}</a></li>{% endfor %}
					</ul>
				</div>
			</div>
		</div>
	</header>

	<div class="post-content">
		<div class="content">
			<div class="post-content-i">
				<div class="post-content__social-aside">
					Social 1
				</div>
				<div class="post-content__main">
					<div class="post-content__text text">
{{ content }}						
					</div>
					<div class="post-content__social-bottom">
						Social 2
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="post-comments content">
		<div class="post-comments-i">
		</div>
	</div>
	<div class="post-reply content">
		<div class="post-reply-i">
			<h3 class="alpha">{% if page.lang == "en" %}Leave a Comment{% else %}Оставить комментарий{% endif %}</h3>
			<form action="" method="post" id="commentform">
				<div class="post-reply__row">
					<label for="post-reply-name" class="post-reply__name-label">{% if page.lang == "en" %}Name{% else %}Имя{% endif %}</label>
					<div class="post-reply__name-widget"><input  id="author" type="text" class="field" name="author" required></div>
					<label for="post-reply-email" class="post-reply__email-label">{% if page.lang == "en" %}E-mail{% else %}Почта{% endif %}</label>
					<div class="post-reply__email-widget"><input id="email" type="email" class="field" name="email"  required></div>
					<div class="post-reply__email-help"><div class="post-reply__email-help-i">
						{% if page.lang == "en" %}Your email is used for authorisation. It won’t be published and you won’t get any annoying or interesting spam.{% else %}Адрес электронной почты необходим только для авторизации. Его никому не покажут и на него не пришлют спам.{% endif %}
					</div></div>
				</div>
				<div class="post-reply__row">
					<label for="post-reply-text" class="post-reply__text-label">{% if page.lang == "en" %}Text{% else %}Текст{% endif %}</label>
					<div class="post-reply__text-widget"><textarea id="comment" class="post-reply__text-field field field_textarea" name="comment"  required></textarea></div>
				</div>
				<div class="post-reply__row post-reply__row_buttons">
					<div class="post-reply__submit-widget"><input id="submit" type="submit" class="button" name="submit" value="{% if page.lang == "en" %}Comment{% else %}Прокомментировать{% endif %}"></div>
				</div>
			</form>
		</div>
	</div>

	{% endif %}