/** Author: Artem Sapegin, http://sapegin.me, 2013 */

spacer = 10px;
content-max-width = 1400px;
grid-gutter = 16px;
bg-color = #f3f3f3;
base-color = #000;
link-color = #07b;
light-color = #9a9a9a;
accent-color = #ff5500;
visited-color = #39c;
// hover-color = link-color;
// link-underline-color = link-color;
// visited-underline-color = link-color;
// hover-underline-color = link-color;
// link-style = 'gradient';
// link-underline-position = 90%;
// site-domain = 'example.com';
sprite-image = '../build/awards.png';

@import "../js/libs/fotorama/fotorama.css";
@import "tamia";
@import "../build/awards"
@import "styles";
// @import "print";
