<!DOCTYPE html>
<html lang="en" class="no-js">
<head>
	<meta charset="utf-8">
	<title>{% if page.title %} {{ page.title }} | {% endif %}{% if page.category %} {{ page.category }} | {% endif %} genn.org</title>

	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="format-detection" content="telephone=no">
	{% if page.category != 'info' %} {% for category in site.categories %} {% if category.first == page.category %} {% assign categoryposts = category.last %} {% endif %} {% endfor %} {% for post in categoryposts %} {% if post.title == page.title %} {% if categoryposts[forloop.index].url!='' %} {% assign next = categoryposts[forloop.index] %} {% endif %} {% break %} {% else %} {% assign prev = post %} {% endif %} {% endfor %}
	<link rel="next" href="{{ next.url }}">
	<link rel="prev" href="{{ prev.url }}">{% endif %}

	<script src="/js/libs/modernizr.js"></script>
	<link href="/build/styles.css" rel="stylesheet">
	<!--[if lt IE 9]><link href="/styles/ie.css" rel="stylesheet"><![endif]-->

</head>
<body>
	{% include header.html %}

	{% if page.category == 'info' %} {% include info.html %} {% endif %}
	{% if page.category == 'work' %} {% include work.html %} {% endif %}
	{% if page.category == 'mega' %} {% include mega.html %} {% endif %}

	{% include bottomnav.html %}

	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
	<script>!window.jQuery && document.write(unescape('%3Cscript src="/js/libs/jquery-1.9.1.min.js"%3E%3C/script%3E'))</script>
	<script src="/build/scripts.js"></script>
</body>
</html>
